{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delete Account | Study Store</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <nav class="navbar">

        <h1>🎀 Study Store 🛍️</h1>

    </nav>


    <div class="container">

        <div class="product-card">

            <h2>🗑️ Delete Account?</h2>

            <p>
                Are you sure you want to permanently delete
                your Study Store account?
            </p>

            <p>
                This action cannot be undone.
            </p>

            <p>
                <strong>Deleting your account will cancel all active orders.</strong>
            </p>

            <br>

            <a href="{% url 'home' %}" class="button">
                Cancel
            </a>

            <form
                method="POST"
                style="display: inline;"
            >

                {% csrf_token %}

                <button
                    type="submit"
                    class="delete-account-button"
                >
                    🗑️ Delete My Account
                </button>

            </form>

        </div>

    </div>

</body>

</html>